.resultsContainer {
}

.selectedTagsContainer {
  background-color: #ddd;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.selectedTagsContainer__header {
  font-weight: bold;
  font-size: small;

}

.selectedTagsContainer ul {
}

.selectedTagsContainer li {
}

.selectedTagsContainer button {
}

.selectedTagsContainer button:hover {
}
