.tagContainer {
  display: inline-block;
  min-width: 200px;
  padding: 20px;
}

.tagContainer h2 {
  font-weight: bold;
}

.tagNode {
  margin-left: 20px;
  min-width: 0;
}

.expandButton {
  cursor: pointer;
  margin-right: 5px;
  flex-shrink: 0;
}

.tagButton {
  cursor: pointer;
  margin-left: 5px;
  flex-shrink: 0;
} 